<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en">
<head>
    <title th:text="${post.getSubject()}">Temat</title>

    <div th:replace="fragments/header :: myHeader"></div>

</head>
<body>
<header>
    <div th:replace="fragments/navbar :: myNavbar"></div>
</header>

<main>

    <div class="container">

        <div class="card bg-secondary text-white my-5">
            <div class="card-header text-center">
                <h3 th:text="${post.getSubject()}"></h3>
            </div>
            <div class="card-body text-justify">
                <p class="card-text" th:text="${post.getContent()}">
                    With supporting text below as a natural lead-in to additional content.
                </p>
            </div>
            <div class="card-footer">
                <p>
                    <i style="font-size: small" th:text="|Autor ${post.getAuthorUsername()}, Dodano ${#temporals.format(post.getAddedDate(),
                        'dd-MM-yyyy HH:mm')}|">
                        użytkownik
                    </i>
                </p>
            </div>
        </div>

        <hr class="mb-4 mt-0 text-white"/>

        <div class="card">
            <div class="mb-3" th:each="response: ${responses}">
                <div class="card-header bg-dark text-white" th:text="${response.getAuthorUsername()}">Imię i nazwisko
                </div>
                <div class="card-body bg-dark text-white">
                    <p th:text="${response.getContent()}">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.
                    </p>
                    <footer class="blockquote-footer bg-dark text-white mb-0 mt-2">
                        Dodano dnia <i th:text="${#temporals.format(response.getAddedDate(), 'dd-MM-yyyy HH:mm')}">15.10.2021</i>
                    </footer>
                </div>
            </div>
        </div>

        <div sec:authorize="isAuthenticated()">
            <hr class="my-4"/>
            <h4 class="text-white text-center">Dodaj swoją odpowiedź</h4>
            <form class="text-white" method="post" action="#" th:action="@{/posty/polityka/post}">

                <input type="hidden" th:value="${post.getId()}" name="postId">

                <!-- Message input -->
                <div class="form-outline mb-4 form-white">
                        <textarea class="form-control" id="message" rows="4" name="message"
                                  required="required"></textarea>
                    <label class="form-label" for="message">Wiadomość</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-info btn-block mb-4">Wyślij</button>
            </form>
        </div>
    </div>
</main>

<footer id="footer">
    <div th:replace="fragments/footer :: myFooter"></div>
</footer>

<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>
</body>
</html>