body {
    background-color: #212121 !important;
    padding-top: 50px !important;
}

.bg-secondary {
    background-color: #3D3C3C !important;
}

.card-header > a {
    color: azure;
}

.card-header > a:hover {
    color: cornsilk;
}

.card {
    /*background-color: #212121 !important;*/
    background-color: #363636 !important;
}