<!DOCTYPE html>
<!--suppress XmlUnusedNamespaceDeclaration -->
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en">
<head>
    <title>Zmień hasło</title>
    <div th:replace="fragments/header :: myHeader"></div>
</head>
<body>
<header>
    <div th:replace="fragments/navbar :: myNavbar"></div>
</header>
<main>

    <div class="row d-flex justify-content-center align-items-center text-white h-250 mt-5" id="login-form">
        <div class="col-lg-3 col-md-6 mb-4 h-200 bg-dark">
            <h2>Wprowadź nowe hasło</h2>
            <div th:if="${error}">
                <h3 th:text="${error}">Wiadomosc bledu</h3>
            </div>
            <form action="#" th:action="@{/resetuj-haslo/zmien}" method="post">
                <!-- Email input -->
                <div class="form-outline form-white mb-4">
                    <input type="password" id="password" class="form-control" name="password"/>
                    <label class="form-label" for="password">Hasło</label>
                    <input type="hidden" th:value="${token}" name="token">
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-info btn-block">Zmień hasło</button>
            </form>
        </div>
    </div>
</main>
<footer>
    <div th:replace="fragments/footer :: myFooter"></div>
</footer>
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>
</body>
</html>
